.catalog {
  display: grid;
  gap: 48px;
  max-width: max-content;
  margin: 0 auto;


  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @include width(488px, 2);
  @include width(786px, 3);
  @include width(1024px, 4);
}
